@media only screen and (min-width: 900px) {

    .content {
        max-width: 1000px;

    }

    .topic_content {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 20px;
    }
}