@media (min-width: 500px) {
    div { 
        display: grid;
        grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 800px) {
    div { 
        display: grid;
        grid-template-columns: repeat(4, 1fr); }
}
header {
    display: flex;
    justify-content: center;
}

/* div {
    display: block;
} */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background-color: black;
    border: 1px solid #3de8fb;
    margin: 10px;
}

h2, p {
    color: #3de8fb;
}