  body {
    background-color: white;
    font-family: oxygen, sans-serif;
    height: 100vh;
    font-size: 18px;
  }
  
  header {
    top: 0;
    background-color: white;
    grid-template-columns: 110px auto;
    align-items: center;
    /*border: 2px solid;*/
  }
  
  a {
    color: rgb(25, 172, 205);
    font-size: 1.1em; 
    padding: 0.5em;
  }
  
  a:hover{ 
    border: 3px solid;
    color: #900603;
  }
  
  h1, h2, h3, h4, h5, h6 {
    background-color: #00297B;
    color: white;
    align-items: center;
    padding: 0.5em;
    padding-left: 1.5em;
    line-height:1;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px #000000;
  }
  
  h1 {
    line-height: 5;
    text-align: center;
  }
  
  #img {
    display: block;
    margin: auto;
    max-width: 100%;
  }
  
  .step1, .step2 {
    margin-top: 100px;
    align-items: center;
  }
  
  footer{
    grid-column: 4/8;
    grid-row: 10;
    background-color: #00297B;
    color:white;
    max-height: 55px;
    display:flex;
    justify-content: space-evenly;
    margin-top: 100px;
    grid-template-columns: 110px auto;
    border: 2px solid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    box-shadow: 5px 5px 5px #000000;
  }
  
  .footer-paragraph {
    padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
  } 