@media only screen and (min-width: 800px) {

    /* ----------HEAD/FOOTER---------- */
    .head, footer  {
        max-width: 100%;
        /*margin: 50px auto;*/
    } 

    /* ----------HEADER---------- */
    header {
        display: grid;
        grid-template-rows: auto 50px;
        grid-template-columns: auto auto;
    }

    .rowone {
        grid-row: 1/2;
        display: inline-block;
    }

    /* ----------NAVIGATION---------- */
    nav button {
        display: none;
    }

    nav ul.hide {
        display: inline;
    }

    nav ul#navButton {
        display: flex;
    }

    nav ul li a {
        padding: 0.5rem 1rem;
    }

    nav ul {
        max-width: 1100px;
    }

    nav {
        display:flex;
        flex-direction: row;
        /* /align-items: right;*/ 
        /*border: 3px solid black;*/
        /* margin-left: 380px; */
      } 

      .social_media {
        justify-self: end;
        padding-right: 20px;
      }

    #upToDate {
        margin-top: 30px;
      } 

    /* ----------index.html---------- */
    .call_to_action, .news, .events, .weather, .join, .spotlight_one, .spotlight_two, .spotlight_three {
        margin-bottom: 0px;
    } 

    .call_to_action {
        grid-column: 2/4;
        grid-row: 1/3;
        min-height: 600px; 
    } 

    .news {
        grid-column: 2/4;
        grid-row: 3;
        min-height: 400px;
    } 

    .events {
        grid-column: 1;
        grid-row: 1;
    } 

    .weather {
        grid-column: 1;
        grid-row: 2;
    } 

    .join {
        grid-column: 1;
        grid-row: 3;
        min-height: 400px;
    } 

    .spotlight_one {
        grid-column: 4;
        grid-row: 1; 
    }

    .spotlight_two {
        grid-column: 4;
        grid-row: 2;
    }

    .spotlight_three {
        grid-column: 4;
        grid-row: 3;
    }

    /* ----------discover.html---------- */
    .discover {
        display:grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto;
        border: 3px solid black;
        margin: auto;
        max-width: 900px;
    }

     /* ----------local storage---------- */
    .local_storage {
        max-width: 900px;
        margin: auto;
  }

     /* ----------directory.html---------- */
    div {
        display: grid;
        grid-template-columns: auto auto auto auto; 
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        background-color: black;
        border: 1px solid #3de8fb;
        margin: 10px;
    }
        /* min-height: 600px; */
} 