@media only screen and (min-width: 500px) {

    .head, footer {
        /*max-width: 900px;*/
        max-width: 100%;
        margin: 30px auto;
    }

    /*nav button {display: hide;}*/

    /*nav ul#navButton {
        display: flex;
        justify-content: center;
        margin-left: 2vw;
        border-left: 1px solid rgba(0,0,0,0.3);
    }*/

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        font-size: 18px;
    }

    main {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto auto;
        grid-gap: 1em;
      }
      
      .call_to_action, .news, .events, .weather, .join, .spotlights {
        min-height: 300px;
      } 

      /* .call_to_action {

    } */

    /* .news {

    } */

    /* .events {

    } */

    .weather {
        justify-content: center;
    } 


    /* .join {

    } */

    /* .spotlights {

    } */

    .step1, .step2, .step3, .step4, .step5 {
        max-width: 800px;
        margin: 30px auto;
    }
} 

/* ctrl k ctrl c
to undo ctrl u*/