@media only screen and (min-width: 500px) {

    .head, footer {
        max-width: 800px;
        margin: 30px auto;
    }

    /*nav button {display: hide;}*/

    /*nav ul#navButton {
        display: flex;
        justify-content: center;
        margin-left: 2vw;
        border-left: 1px solid rgba(0,0,0,0.3);
    }*/

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        font-size: 18px;
    }

    main {
        display: grid;
        grid-template-columns: auto auto; 
        grid-template-rows: auto auto auto auto auto auto;
        grid-gap: 1em; 
        /* display: flex; */
      }
      
    .call_to_action, .news, .events, .weather, .join, .spotlights {
        min-height: 300px;
      } 

    /* .column_one {
        justify-content: flex-start;
        flex-direction: column;
    }

    .column_two {
        justify-content: flex-end;
        flex-direction: column;
    } */

    /* .call_to_action {
        
    } 

    .news {
       
    } 

    .events {
        
    } 

    .weather {
        
    }  */


    /* .join {

    } */

    /*.spotlights {
        justify-content: flex-end;
    } */

    /* CSS for discover page*/

    .discover {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .images {
        flex-direction: column;
    }

    .statistics {
        flex-direction: column;
    }

    .one, .two, .three, .four, .five {
        margin: 10px;
        position: relative;
        margin-right: 10px;
       }
       
       /* .one div, .two div, .three div, .four div, .five div{ */
        .img_info {
        position: absolute;
        bottom: 0;
        right: 0;
        background: black;
        color: white;
        margin-bottom: 5px;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: visibility 0s, opacity 0.5s linear; 
        transition: visibility 0s, opacity 0.5s linear;
       }
       
       .one, .two, .three, .four, .five:hover{
        cursor: pointer;
       }
       
       .img_info:hover div{
        width: 150px;
        padding: 8px 15px;
        visibility: visible;
        opacity: 0.7; 
       } 
} 

/* ctrl k ctrl c
to undo ctrl u*/