/* ----------BODY---------- */
body {
    /*background-color: white;*/
    font-family: oxygen, sans-serif;
    height: 100vh;
    /*font-size: 18px;*/
  }
  
  /* ----------HEADER---------- */
  header {
    top: 0;
    background: linear-gradient(269.28deg, #052185 8.88%, rgba(133, 5, 5, 0.42) 102.12%, rgba(5, 33, 133, 0) 102.13%, #FF0000 102.13%);
    color:white;
    box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.25);;
    align-items: center;
  }

  /* ----------NAVIGATION---------- */
  nav {
    display:flex;
    flex-direction: row;
    align-items: center;
    /*border: 3px solid black;*/
    margin: 5px;
  } 

  nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: black;
  }

  nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
  }

  nav ul li a {
      display: block;
      padding: .8rem 2vw;
      text-decoration: none;
      color: white;
      border-top:  1px solid rgba(0,0,0,0.5);
      text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      /*display:flex;*/
      text-align: center;
      font-size: 1.1em; 
      margin-left: 14px;
  }

 nav ul li.active a {
      background-color: rgba(0,0,0,0.2);
      color: #fff;
  }

  nav ul li a:hover {
    color: white;
    text-shadow: 0px 0px 8px white;
  }
  
  nav ul.hide {display: none;}

  #upToDate {
    display: block;
    left: 3.5%;
    top: 220px;
  }

  .social_media {
    justify-content: space-evenly;
  }

  h2, h3, h4, h5, h6, .banner{
    background-color: #9b111e;
    color: white;
    align-items: center;
    padding: 0.5em;
    padding-left: 1.5em;
    line-height:1;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px #000000;
    text-align: center;
  }
  
  h1 {
    display: inline-block;
  }
  
  #img {
    margin: 12px;
    max-width: 100%;
  }

  /* ----------MAIN---------- */
  main {
    display: block;
    margin-top: 50px;
    align-items: center;
  }

  /* ----------index.html---------- */

  .dogimg, .heroimg, .firstimg, .secondimg, .thirdimg {
    float:right;
    margin: 5px;
  }
  
  .call_to_action, .news, .events, .weather, .join, .spotlight_one, .spotlight_two, .spotlight_three {
    border: 3px solid black;
    margin-bottom: 10px;
    min-height: 200px;
    text-align: justify;
    justify-content: center;
  }

  /*.call_to_action {
    
} */

.news {
    color: white;
} 

.events {
    color: white;
} 

/*.weather {
    /*color: white;
} */

.join {
    color: white;
} 

/*.spotlight_one {

}

.spotlight_two {
    
}

.spotlight_three {
    
}*/


/* CSS for discover.html */

.discover {
  display: block;
  align-items: center;
}

.one, .two, .three, .four, .five {
  margin: 10px;
}

.pic-one, .pic-two, .pic-three, .pic-four, .pic-five {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

.local_storage {
  background-color: #9b111e;
  color: white;
  align-items: center;
  padding: 0.5em;
  padding-left: 1.5em;
  line-height:1;
  margin-bottom: 10px;
  box-shadow: 5px 5px 5px #000000;
  text-align: center;
}

  /*----------- FORM --------------*/
form fieldset {
  margin: 2rem 0;
  border: 1px solid #052185;
  border-radius: 10px;
  padding: 0.5rem 2%;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px
}

form legend {
  color: #052185;
  margin: 0 1rem;
  padding: 0 0.5rem;
}

form label.info, form div {
  display: block;
  padding-top: 1rem;
  color: #9c2c13;
  font-size: 0.8rem;
}

form label.info input, form label.info select {
  /* -webkit-appearance: none; */
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0.75rem;
  color: #555;
  /* width: 100%;
  max-width: 20rem; */
  background-color: rgba(0,0,0,0.1);
}

form label.level {
  display: block;
  padding: 0.75rem 0;
  color: #555;
}

form label.info input:required {
  border-left: rgb(211, 0, 0) solid 6px;
}

form label.info input:required:valid {
  border-left: rgb(1, 170, 1) solid 6px;
}

form input.submitBtn {
  border: none;
  background-color: #9b111e;
  color: white;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
}

/*----------- join.html --------------*/
.np_benefits h3, .bronze_benefits h3, .silver_benefits h3, .gold_benefits h3{
  background-color: white;
  color: white;
  box-shadow: none;
}

/*----------- thankyou.html --------------*/
.thankyou {
  display: block;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 200px;
}

.thankyou_message {
  text-align: justify;
  justify-content: center;
}

.thankyou_message p {
  border: #000000 solid 1px;
}

 /* ----------directory.html---------- */
 .business_cards {
  display: block; 
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  background-color: black;
  border: 1px solid #3de8fb;
  margin: 10px;
}


/* ----------FOOTER---------- */
footer{
  grid-column: 4/8;
  grid-row: 10;
  background: linear-gradient(269.28deg, #052185 8.88%, rgba(133, 5, 5, 0.42) 102.12%, rgba(5, 33, 133, 0) 102.13%, #FF0000 102.13%);
  color:white;
  max-height: 55px;
  display:flex;
  justify-content: space-evenly;
  margin-top: 100px;
  grid-template-columns: 110px auto;
  border: 2px solid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  box-shadow: 5px 5px 5px #000000;
}
  
.footer-paragraph {
  padding: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
} 