body {
    /*background-color: white;*/
    font-family: oxygen, sans-serif;
    height: 100vh;
    font-size: 18px;
  }
  
  header {
    display: flex;
    flex-direction: row;
    top: 0;
    background: linear-gradient(269.28deg, #052185 8.88%, rgba(133, 5, 5, 0.42) 102.12%, rgba(5, 33, 133, 0) 102.13%, #FF0000 102.13%);
    color:white;
    box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.25);;
    /*align-items: center;*/
  }

  nav {
    display:flex;
    align-items: right;
    /*border: 3px solid black;*/
    margin-left: 380px;
  }

  nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: white;
  }

  nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
  }

  nav ul li a {
      display: block;
      padding: .8rem 2vw;
      text-decoration: none;
      color: white;
      border-top:  1px solid rgba(0,0,0,0.5);
      text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      /*display:flex;*/
      text-align: center;
      font-size: 1.1em; 
      margin-left: 14px;
  }

  nav ul li.active a {
      background-color: rgba(0,0,0,0.2);
      color: #fff;
  }

  nav ul li a:hover {
    color: white;
    text-shadow: 0px 0px 8px white;
  }
  
  nav ul {display:none;}
  nav ul.open {display: block;}

  #hamburgerBtn span:nth-child(1) {display: block;}
  #hamburgerBtn span:nth-child(2) {display: none;}

  #hamburgerBtn.opne span:nth-child(1) {display: none;}
  #hamburgerBtn.open span:nth-child(2) {display: block;}

  nav a {
    display:flex;
    text-align: right;
    padding: 5px;
    color: white;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.1em; 
    padding: 0.80em;
    text-decoration: none;
    margin-left: 14px;
    font-size: 14px;
  }

  #upToDate {
    position:absolute;
    left: 3.5%;
    top: 220px;
  }

  h2, h3, h4, h5, h6 {
    background-color: #9b111e;
    color: white;
    align-items: center;
    padding: 0.5em;
    padding-left: 1.5em;
    line-height:1;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px #000000;
  }
  
  h1 {
    line-height: 5;
    text-align: center;
  }
  
  #img {
    display: block;
    margin: 12px;
    max-width: 100%;
  }
  
  .step1, .step2, .step3, .step4, .step5 {
    margin-top: 100px;
    align-items: center;
  }
  
  footer{
    grid-column: 4/8;
    grid-row: 10;
    background: linear-gradient(269.28deg, #052185 8.88%, rgba(133, 5, 5, 0.42) 102.12%, rgba(5, 33, 133, 0) 102.13%, #FF0000 102.13%);
    color:white;
    max-height: 55px;
    display:flex;
    justify-content: space-evenly;
    margin-top: 100px;
    grid-template-columns: 110px auto;
    border: 2px solid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    box-shadow: 5px 5px 5px #000000;
  }
  
  .footer-paragraph {
    padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
  } 