@media screen and (min-width: 32.5em) { 
    body {
        font: size 15px;
    }
    footer{
        max-height: 52px;
        border: 0px solid;
        grid-gap: 1em;
        box-shadow: 0px 0px 0px #000000;
      }
    
    } 